.khand-light {
  font-family: "Khand", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.khand-regular {
  font-family: "Khand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.khand-medium {
  font-family: "Khand", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.khand-semibold {
  font-family: "Khand", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.khand-bold {
  font-family: "Khand", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
    font-family: khand, sans-serif !important;
}

/* temporrily hide the header actions (cart and account) */
header-actions{
  display: ; 
}

